@import url(http://fonts.googleapis.com/css?family=Raleway);
body { 
   font-family: 'Raleway', sans-serif; 
   }
   
img#logo { 
	margin-left:90px;
}

div#first {
    width: 350px;
	height:auto;
	margin: 50px auto 0; 
	padding: 20px 25px; 
	background-color: #EEE;
	color: 	#333333;
	border: 2px solid #C2D6FF; 
	border-radius: 5px; 
	border-radius: 40px 0px 40px 0px;
}

label {  
	font-size: 15px;
	font-weight: bold;
}

input#fname { 
	background-image: url('../images/icon_name.png');
	background-repeat: no-repeat;
	background-position: 6px;
	border: 1px solid #DADADA;
	margin-top: 10px;
	padding-left: 35px;
	width: 310px; 
	height: 30px; 
	font-size: 14px;
	box-shadow: 0 0 10px;
	-webkit-box-shadow:  0 0 10px;	/* for I.E */
	-moz-box-shadow: 0 0 10px;	/* for Mozilla web browser*/
    border-radius: 5px;
	-webkit-border-radius: 5px;	/* for I.E */
	-moz-border-radius: 5px; 	/* for Mozilla web browser*/
}

input#email { 
    background-image: url('../images/email.png');
	background-repeat: no-repeat;
	background-position: 6px;
	border: 1px solid #DADADA;
	margin-top: 10px;
	padding-left: 35px;
	width: 310px; 
	height: 30px; 
	font-size: 14px;
	box-shadow: 0 0 10px;
	-webkit-box-shadow:  0 0 10px;	/* for I.E */
	-moz-box-shadow: 0 0 10px;	/* for Mozilla web browser*/
     border-radius: 5px;
	-webkit-border-radius: 5px;	/* for I.E */
	-moz-border-radius: 5px;	/* for Mozilla web browser*/
}

input#contact { 
	background-image: url('../images/mobile.png');
	background-repeat: no-repeat;
	background-position: 6px;
	border: 1px solid #DADADA;
	margin-top: 10px;
	padding-left: 35px;
	width: 310px;
	height: 30px; 
	font-size: 14px;
	box-shadow: 0 0 10px;
	-webkit-box-shadow:  0 0 10px;	/* for I.E */
	-moz-box-shadow: 0 0 10px;	/* for Mozilla web browser*/
	border-radius: 5px;
	-webkit-border-radius: 5px;	 /* for I.E */
	-moz-border-radius: 5px;	/* for Mozilla web browser*/
}

input#address {   
    background-image: url('../images/home.png');
	background-repeat: no-repeat;
	background-position: 6px;
	border: 1px solid #DADADA;
	margin-top: 10px;
	padding-left: 35px;
	width: 310px; 
	height: 30px; 
	font-size: 14px;
	box-shadow: 0 0 10px;
	-webkit-box-shadow:  0 0 10px; /* for I.E */
	-moz-box-shadow: 0 0 10px;  /* for Mozilla web browser*/
	border-radius: 5px;
	-webkit-border-radius: 5px;  /* for I.E */
	-moz-border-radius: 5px;	/* for Mozilla web browser*/
}

input#submit {
	background-color: 	#FF9980;
    border-radius: 5px;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    text-shadow: 1px 1px 1px #949494;
	margin-left:120px;
}

input#submit:hover {
	background-color:#80A24A;		  
}
