/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
.lectures
{
	margin-bottom:20px;
	padding-top:10px;
	padding-bottom:10px;
	border-bottom:1px solid #CCC;
}